<!DOCTYPE html>
<html>
<head>
    <title>Sustainize</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="Magazine.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Khula:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Megrim:300,400,700' rel='stylesheet' type='text/css'>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">google.load("jquery", "3.1.1");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
    
  <div class="background-image"></div>
  <div class="container">
  <div class="row text-center">
  <div class="text-jumbotron">
      <h2>The Magazine</h2>
  </div>
  </div>
  </div>
    
<br>
<div class="container">
    <div class="articles">
    <div class="article1">
    <h3><a href="http://localhost:3000/pages/what_is_social_entrepreneurship">What Is Social Entrepreneurship?</a></h3>
    </div>
    <div class="article2">
    <h3><a href=" ">How Retailers Can Reduce The Carbon Footprint From Online Shopping</a></h3>
    </div>
    <div class="article3">
    <h3><a href=" ">High-Tech Bangles That Deliver Health Tips To Pregnant Women In India And Bangladesh</a></h3>
    </div>
    <div class="article4">  
    <h3><a href=" ">A Woman And Her Conviction When She Decides To Change The World</a></h3>
    </div>
    </div>
    </div>
    
</body>
</html>
