<!DOCTYPE html>
<html>
<head>
    <title>Sustainize</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="magazine-articles.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Khula:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Megrim:300,400,700' rel='stylesheet' type='text/css'>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">google.load("jquery", "3.1.1");</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
    
  <div class="what-is-social-entrepreneurship"></div>
  <div class="container">
  <div class="row text-center">
  <div class="text-jumbotron">
      <h2>What Is Social Entrepreneurship?</h2>
  </div>
  </div>
  </div>
 
<div class="article">
<br>
<p>Most of us have heard this term before, maybe we’ve read about it or met someone who talked about it, it’s been around for some time but remains an obscure concept for many. So what is social entrepreneurship? There are numerous definitions out there, which can vary rather strongly depending on the author. We’ve tried to put together a broad and generic definition to simplify the understanding of this growing concept.
<br><br>
Social entrepreneurship is a combination of social purpose and business-driven strategies. It is a way of making a positive change in the world while using principles and techniques that are being used by regular businesses. The major difference is that while regular businesses are seeking profit, social entrepreneurs are after making the world a better place, either socially (human rights, gender equality, discrimination, poverty alleviation etc…) or environmentally (renewable energy, animal protection, reforestation, reduction of emissions etc…). In that way, social entrepreneurs are driven by a social goal and are using disruptive and innovative ideas to reach it. As a form of entrepreneurship, social entrepreneurship is deeply rooted in innovation. 
Therefore, a social entrepreneur will often base her or his organization on disruptive ideas that have the capacity to change the existing market in which it exists. Social entrepreneurship is neither a kind of nonprofit nor is it a traditional business. It is in a class of its own and should be considered as such. 
<br><br>
<strong>What is the main goal of social entrepreneurship?</strong>
<br><br>
To create social value that will have a positive social and / or environmental impact should be every social entrepreneur’s goal. Of course profit can be created but it should be mainly used as a means to reach the social goal. In that sense profit can be used for many things like investing in the organization and remunerating the employees but it is not the ultimate goal. 
<br><br>
<strong>Can you earn money with social entrepreneurship?</strong>
<br><br>
Absolutely. Even though the ultimate goal is to drive social change, social entrepreneurship should not be confused with nonprofits or charities. As a matter of fact, social entrepreneurship can be for-profit, nonprofit or a mix of both. It is up to the social entrepreneur to shape the organization as she or he sees fit. As long as the central element, the social mission, remains the main focus, it is very beneficial and encouraged to make a profit. Social entrepreneurship should be perceived as a better alternative to traditional businesses. If you have the possibility to drive a positive social change and make a profit simultaneously why shouldn’t you?
<br><br>
<strong>Why do we need social entrepreneurship?</strong>
<br><br>
While governmental and philanthropic efforts to stimulate a positive and sustainable social change have been limited by their organizational model, traditional businesses have sought profit, often at the cost of social and environmental concerns. Social entrepreneurship is a business-model that has the capacity to reconcile both parties since it can make use of a market approach to solve social issues. It can be fully self-supporting as it can generate revenues that can be used to run and expand the business in order to better serve society. Social entrepreneurship has an infinite potential, just like a traditional business that is striving to make as much profit as possible, a social entrepreneur can set up an organization that will make the world a better place. As we all know, there is no limit to that. 
<br><br>
<i>Fun fact: did you know that the word entrepreneur comes from the french verb ‘entreprendre’ (to undertake)? As such, an entrepreneur is someone who undertakes a project, a mission...</i>
<br><br>
</p>
</div>
    
<div class="btn-info">Do you have any questions or remarks regarding this article? Feel free to contact us at <a href="mailto:team@sustainize.com">team@sustainize.com</a></div>
    
</body>
    
<!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5970a00052fcb305"></script> 
    
</html>
