.edit-profile {
  margin-top: 30px;
  border-top: solid 2px;
  color: #2F467F;
}
.edit-profile h2 {
  font-family: 'Raleway';
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  color: #2F467F;
}
body {
    font-family: 'Raleway', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.text {
    z-index: 9999;
    position: relative;
    font-family: 'Raleway', sans-serif;
    top: -80px;
    margin-bottom: -223px; 
}

.login-heroin2 {
    background: url("https://static.pexels.com/photos/34072/pexels-photo.jpg") no-repeat 50%;
    background-size: cover;
    width: 42%;
    position: absolute;
    margin-top: 110px;
    height: 677px;
    top: 0;
    bottom: 0;
    right: 0;
}

.form-horizontal {
    width: 90%;
    margin-left: 5%;
    font-family: 'Raleway', sans-serif;
    color: #2F467F;
}
.gender {
    text-align: right;
}
.country {
    text-align: right;
}
.pwd-conf {
    text-align: right;
}
.important-pwd {
    color: #CC0000;
}

/*.flagstrap .btn-default  {
    width: 100%;
    color: #999999;
    text-align: left;
    font-weight: 200;
}
.flagstrap .btn-default:hover  {
    width: 100%;
    color: #999999;
    text-align: left;
    background-color: #fff;
}*/

.form-horizontal .btn-basic {
	border: 2px solid #2F467F;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    background: #fff;
    color: #2F467F;
    text-decoration: none;
}
.form-horizontal .btn-basic:hover{
	border: 2px solid #2F467F;
    border-radius: 10px;
    width: 100%;
    background: #2F467F;
    color: #FFF;
    text-decoration: none;
}
.form-horizontal .btn-info {
	border: 2px solid #00E5FF;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
    width: 100%;
    background: #fff;
    color: #2F467F;
    text-decoration: none;
}
.form-horizontal .btn-info:hover{
	border: 2px solid #00E5FF;
    border-radius: 10px;
    width: 100%;
    background: #00E5FF;
    color: #FFF;
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .form-horizontal {
    width: 80%;
    margin-left: 0%;
    }
}
@media only screen and (max-width: 767px) {
    .gender {
    text-align: left;
    }
    .date {
    text-align: left;
    }
    .country {
    text-align: left;
    }
    .pwd-conf{
    text-align: left;
    }
}

@media only screen and (min-width: 768px) {
    .edit-profile h2 {
    text-align: left;
    margin-left: 40px;
    }
}
@media only screen and (max-width: 767px) {
    .login-heroin2 {
    display: none;
    }
}
@media only screen and (min-width: 812px) and (max-width: 1250px) {
    .login-heroin2 {
    height: 676px;
    }
}
@media only screen and (min-width: 1080px) {
    .login-heroin2 {
    height: 664px;
    }
}